:root {
    --snake-light-head: rgb(25, 59, 122);
    --snake-dark-head: #83550b;
    --snake-light: rgb(113, 138, 185);
    --snake-dark: #a77017;
    --light-light: #AAD751;
    --light-light-hover: #7fa731;
    ;
    --light-dark: #A2D149;
    --light-dark-hover: #739533;
    --dark-light: #131212d8;
    --dark-light-hover: #232423;
    ;
    --dark-dark: #181817e0;
    --dark-dark-hover: #141414;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
}

.light-cell {
    background-color: var(--light-light);
}

.dark-cell {
    background-color: var(--light-dark);
}

.light-cell:hover {
    background-color: var(--light-light-hover);
}

.dark-cell:hover {
    background-color: var(--light-dark-hover);
}

.cell:hover {
    transform: scaleX(1.1) scaleY(1.1);
    transition: transform 0.1s ease-in-out;
}

.apple::before {
    content: "";
    background-image: url("../../images/apple.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: block;
    z-index: 0;
    width: 100%;
    height: 100%;
    animation: appleAnimation 0.7s alternate infinite ease-in;
}

@keyframes appleAnimation {
    0% {
        transform: scale(.9);
    }
    100% {
        transform: scale(1.2);
    }
}

.grid {
    display: grid;
    height: 90vmin;
    width: 90vmin;
    box-shadow: 1px 1px 10px rgb(180, 178, 178);
}


/* 
.head::after{
    content:'';
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform: scaleX(1.2) scaleY(1.2);
    background-color: var(--snake-light-head) !important;

}
.body::after{
    content:'';
    display: flex;
    width: 100%;
    height: 100%;
    z-index:-1;
    border-radius: 50%;
    transform: scaleX(1) scaleY(1);
    background-color: var(--snake-light) !important;
    
} */

.head::after,
.body::after {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    content: '';
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: var(--snake-light) !important;
    border-radius: 5px;
    border: 1px solid rgb(24, 24, 24);
}

.score {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6vh;
    background-color: rgba(46, 45, 45, 0.185);
    padding: 2vh;
}

.score-board-element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}