.light-cell {
    background-color: var(--light-light);
}

.dark-cell {
    background-color: var(--light-dark);
}

.light-cell:hover {
    background-color: var(--light-light-hover);
}

.dark-cell:hover {
    background-color: var(--light-dark-hover);
}

.cell:hover {
    transform: scaleX(1.1) scaleY(1.1);
    transition: transform 0.1s ease-in-out;
}

.apple::before {
    content: "";
    background-image: url("../../images/apple.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: block;
    z-index: 0;
    width: 100%;
    height: 100%;
    animation: appleAnimation 0.7s alternate infinite ease-in;
}

@keyframes appleAnimation {
    0% {
        transform: scale(.9);
    }
    100% {
        transform: scale(1.2);
    }
}

.grid {
    display: grid;
    height: 90vmin;
    width: 90vmin;
    box-shadow: 1px 1px 10px rgb(180, 178, 178);
}


/* 
.head::after{
    content:'';
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform: scaleX(1.2) scaleY(1.2);
    background-color: var(--snake-light-head) !important;

}
.body::after{
    content:'';
    display: flex;
    width: 100%;
    height: 100%;
    z-index:-1;
    border-radius: 50%;
    transform: scaleX(1) scaleY(1);
    background-color: var(--snake-light) !important;
    
} */

.head::after,
.body::after {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    content: '';
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: var(--snake-light) !important;
    border-radius: 6px;
    border: 3px solid rgba(0, 0, 0, 0.561);
}

.head::after {
    background-color: rgb(20, 207, 240) !important;
    transform: scale(1.3, 1.3) !important;
    border: 3px solid rgba(0, 0, 0, 0.561);
}


/* 
.score {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6vh;
    background-color: rgba(46, 45, 45, 0.185);
    padding: 2vh;
}

.score-board-element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
} */

.expanded::after,
.explored::after,
.path::after {
    width: 100%;
    height: 100%;
    content: '';
    display: flex;
    justify-content: center;
    align-content: center;
}

.path::after {
    background-color: white;
    transform: scale(0.5, 0.5);
}

.explored::after {
    background-color: rgba(255, 238, 0, 0.829);
    animation: exploredanimation 0.2s ease-in;
    transition: background-color 0.3s ease-in;
    transform: scale(0.7, 0.7);
}

@keyframes exploredanimation {
    0% {
        transform: scale(0.8, 0.8);
    }
    60% {
        transform: scale(0.5, 0.5);
    }
    100% {
        transform: scale(0.7, 0.7);
    }
}

@keyframes expandedanimation {
    0% {
        transform: scale(0, 0);
    }
    60% {
        transform: scale(0.9, 0.9);
    }
    100% {
        transform: scale(0.7, 0.7);
    }
}

.expanded::after {
    background-color: rgba(205, 34, 211, 0.794);
    transform: scale(0.7, 0.7);
    animation: expandedanimation 0.1s ease-in;
}